.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NavBar__logo{
  max-width: 200px;
}
.NavBar__linksContainer{

}
.NavBar__links {
  padding: 20px;
  color: #323d4c;
}
