.Contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: $container;
  margin: 0px auto 0;
  padding: $page;
  box-sizing: border-box;
  z-index: 11;
  position: relative;
}
.Contact__SectionHeader{
  width: 100%;
  padding-top: 20px;
}

.how input,
.type input,
.budget input {
  display: none;
}

.how__input--selected{
  width: 100%;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $sans;
  font-weight: bold;
  color: $blue;
  margin-right: 16px;
}

.how__input--notselected{
  width: 100%;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $sans;
  font-weight: bold;
  margin-right: 16px;
}

.how {
  color: white;
  width: 100%;
  margin-bottom: 60px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3vmin;
}

.how__input--selected label:hover,
.how__input--notselected label:hover {
  cursor: pointer;
}
.how__input--notselected::before {
  content: '';
  padding-left: 20px;
  border: 2px solid $white;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 100%;
}
.how__input--selected::before {
  content: '';
  padding-left: 20px;
  border: 2px solid $blue;
  background: $blue;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 100%;
}

.you{
  margin-top: 14.5vw;
  width: 100%;
}
.you__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 3vmin;  
}
.you__input--notselected {
  width: 100%;
  margin: 20px 0;
  font-family: $sans;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 0;
  padding: 20px 0;
  border-bottom: 2px solid rgba(0,0,33,0.15);
  background: 0;
}
.you__input--selected {
  width: 100%;
  margin: 20px 0;
  font-family: $sans;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 0;
  padding: 20px 0;
  border-bottom: 2px solid $blue;
  background: 0;
}


.type, 
.budget {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: $page;
  margin-bottom: 60px;
  box-sizing: border-box;
  justify-content: space-between;
}
.type label,
.budget label {
  flex-grow: 1;
  padding: 20px 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: $sans;
  text-align: center;
  border: 2px solid rgba(0,0,33,0.15);
  border-radius: 2em;
  cursor: pointer;
  margin: auto;
}
.type__input--selected,
.type__input--notselected,
.budget__input--selected,
.budget__input--notselected {
  flex-grow: 1;
  margin: 8px 0;
  min-width: 200px;
  max-width: calc(25% - 20px);
  display: flex;
  
}
.type__input--selected label, 
.budget__input--selected label{
  border: 2px solid $blue;
  color: $blue;
}


.tell{
  width: 100%;
  padding: $page;
}
.tell textarea {
  width: 100%;
  min-height: 160px;
  border-radius: 0.25em;
  border: 2px solid rgba(0,0,33,0.15);
  padding: 10px;
  font-family: $sans;
  color: $black;
  font-size: 18px;
}
