.Features{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}
.Features__Tile--left{
  width: calc(50% - 20px);
  height: auto;
  margin: 60px 0;
}
.Features__Tile--right{
  width: calc(50% - 20px);
  height: auto;
  margin: 120px 0;
}
.Features__Image{
  object-fit: cover;
  padding-top: 480px;
  width: 100%;
  background: $blue;
}
.Features__Title{
  margin: 36px 0 28px;
  font-size: 30px;
}
.Features__link{
  font-family: $sans;
  color: $black;
}
.Features__link span {
  border-bottom: 0.5px solid $black;
  padding-bottom: 16px;
}
.Features__link::before{
  content: url(./assets/shapes/triangle.svg);
  height: 24px;
  width: 24px;
  margin-right: 20px;
}
