.Features{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: $container;
    padding: $page;
    box-sizing: border-box;
    z-index: 11;
    position: relative;
    align-self: center;
}
.Features__Tile--left,
.Features__Tile--right {
  margin: 60px 0;
  flex-grow: 1;
  max-width: calc(50% - 20px);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.Features__Tile--right {
  margin-top: 120px;
}
.Features__ImageContainer{
  display: flex;
  width: 100%;
  flex-grow: 1;
  box-sizing: content-box;
}
.Features__Image{
  width: 100%;
  padding-bottom: 123%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.25em;
}
.Features__Info{
}

.Features__Title{
  margin: 36px 0 28px;
  font-size: 30px;
}
.Features__link span{
  font-family: $sans;
  color: $black;
  padding-bottom: 16px;
}
.Features__link:hover span {
  border-bottom: 1px solid $black;
  transition: 0.1s;
}
.Features__link span::before {
  content: ("Featured Project: ");
}
.Features__link::before{
  content: url(./assets/shapes/triangle.svg);
  height: 24px;
  width: 24px;
  margin-right: 20px;
}

.WorkLink {
  width: 100%;
  margin: 60px auto 80px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .Features {
    background: $white;
    margin-top: 40px;
    justify-content: center;
  }
  .Features__Tile--left,
  .Features__Tile--right {
    margin: 10px;
    padding: 0;
    width: 100%;
    max-width: 800px;
    flex-wrap: nowrap;
    justify-content: center;

  }
  .Features__ImageContainer {
    max-width: 180px;
    display: none;
  }
  .Features__Image {

  }
  .Features__Info{
    text-align: center;
    margin: 40px;
  }
}