.Footer, .Footer--hide {
  padding: 0px 0 0;
  margin-top: 80px;
  width: 100%;
  box-sizing: border-box;
  align-self: flex-end;
}
.Footer__Content{
  background: $black;
  padding: 80px 40px 40px;
}
.Footer__Container{
  margin: 0 auto;
  max-width: 960px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Footer .LogoText{
  padding-bottom: 20px;
}
.Footer__Reserved{
  color: $white;
}
.Footer__cta{
  text-align: center;
  background: $white;
  position: relative;
  margin: 0 0 0px 0px;
  padding: 0 0 100px 0;
}
.Footer--hide .Footer__cta{
  display: none;
}
.Footer__ctaHeadline{
  color: $black;
}
.Footer__ctaHeadline span {
  color: $blue;
  border-bottom: 2px solid $blue;
}
