$container: 1024px;
$page: 0 20px;
$test: inset 0px 0px 3px #0f0;



.App {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

a {
  text-transform: none;
  text-decoration: none;
  color: inherit;
}

a:active, a:focus {
  outline: none;
}

textarea, select, input, button { outline: none; border: 0; }

ul{
  margin: 0;
  padding: 0;
}