$container: 960px;
$page: 0 20px;
$test: inset 0px 0px 3px #0f0;

.App {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

a {
  text-transform: none;
  text-decoration: none;
  color: inherit;
}
