.Header{
  height: 48vw;
  min-height: 760px;
  width: 100%;
  background: $black;
  display: flex;
  position: absolute;
  z-index: 0;
  transform: skewY(-4.2deg);
  overflow: hidden;
  position: absolute;
  margin-top: -100px;
}
.HeaderBg{

}
