.Page{
  margin: 0;
  padding: 0;
  padding-top: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: relative;
  width: 100%;
  align-content: center;
  align-items: center;
}

.Page__headline{
  color: $white;
  width: 100%;
  max-width: $container;
  align-self: center;
  padding: $page;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
  box-sizing: border-box;
}
.Page__headline span{
  background: -webkit-gradient(linear top left, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(190deg, #219653 -2.54%, #FFCD34 69.33%);
  background: -moz-linear-gradient(190deg, #219653 -2.54%, #FFCD34 69.33%);
  background: -ms-linear-gradient(190deg, #219653 -2.54%, #FFCD34 69.33%);
  background: -o-linear-gradient(190deg, #219653 -2.54%, #FFCD34 69.33%);
  color: transparent; 
  background-clip: text;
}
.Page__subheadline{
  color: $white;
  font-size: 22px;
  font-family: $sans;
  width: 100%;
  max-width: $container;
  line-height: 1.8;
  margin: 0px 0 30px;
  box-sizing: border-box;
  padding: $page;
  align-self: center;
}
.Sidetext{
  color: $white;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-family: $sans;
  font-weight: 200;
  margin-left: -6vw;
  margin-top: 480px;
  position: absolute;
}
.Sidetext::after{


}
