.Project{
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.Project__Feature{
  max-width: $container;
  width: 100%;
  align-self: center;
  overflow: hidden;
  border-radius: 2px;
  margin: 0 0 40px 0;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.Project__Feature img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: inline;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.Feature__Bar {
  height: 1vw;
  width: 100%;
  background: #c4c4c4;
  box-sizing: border-box;
  overflow: hidden;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  z-index: 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
.r{
  background-color: #ED212B;
  height: 0.65vw;
  width: 0.65vw;
  border-radius: 10px;
  z-index: 20;
  margin-left: 6px;
}
.y{
  background-color: #FFCD34;
  height: 0.65vw;
  width: 0.65vw;
  border-radius: 10px;
  z-index: 20;
  margin-left: 6px;
}
.g{
  background-color: #219653;
  height: 0.65vw;
  width: 0.65vw;
  border-radius: 10px;
  z-index: 20;
  margin-left: 6px;
}
.Project__IntroContainer {
  width: 100%;
  background: $white;
  margin: 0;
  box-sizing: border-box;
  display: flex;
}
.Project__Intro{
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  max-width: $container;
  box-sizing: border-box;
  padding: $page;
  margin: 40px auto 120px;
}
.Project__SubHeadline{
  max-width: 700px;
  flex-grow: 3;
}
.Project__Services{
  max-width: 240px;
  list-style: none;
  margin-top: 42px;
}
.Project__Services span{
  margin-bottom: 30px;
  letter-spacing: 3px;
  font-family: $sans;
}
.Project__Services ul {
  list-style: none;
  padding: 0;
}
.Project__Service{
  padding: 8px 0;
  margin: 0;
  font-size: 14px;
  font-family: $sans;
  color: $grey;
}
.Project__MocksDesktop{
  background: $offwhite;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  justify-content: center;
}
.Project__MocksMobile{
  background: $offwhite;
  width: 100%;
  min-height: 100px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.Project__WriteUp{
  margin: 120px auto;
  max-width: 740px;
}
.Project__WriteUpText{
  margin-left: 52px;
}
@media screen and (max-width: 800px) {
  .Project__WriteUpText{
    margin: 0 0 0 0;
    padding: 20px;
  }
}
.Project__Testimonial{
  font-size: 28px;
  line-height: 1.6;
  margin-bottom: 16px;
  /* temp */
  display: none;
}
.Project__Testimonial::before{
  content: url("assets/shapes/quote_small.svg");
  position: absolute;
  margin-top: -16px;
  margin-left: -36px;
}

.Project__Testimonial::after{
  content: ("\"");
  /* temp */
  display: none;
}
.Project__TestimonialAttrib{
  font-family: $sans;
  color: $grey;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}
.Project__TestimonialAttrib::before{
  content: ("- ");
  /* temp */
  display: none;
}
