.Project{
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.Project__Feature{
  display: flex;
  flex-wrap: wrap;
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 2px;
  background: orange;
  padding: 0;
  box-sizing: content-box;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.Project__Feature img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Feature__Bar {
  height: 1vw;
  width: 100%;
  background: #c4c4c4;
  box-sizing: border-box;
  overflow: hidden;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  z-index: 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}
.r{
  background-color: #ED212B;
  height: 0.65vw;
  width: 0.65vw;
  border-radius: 10px;
  z-index: 20;
  margin-left: 6px;
}
.y{
  background-color: #FFCD34;
  height: 0.65vw;
  width: 0.65vw;
  border-radius: 10px;
  z-index: 20;
  margin-left: 6px;
}
.g{
  background-color: #219653;
  height: 0.65vw;
  width: 0.65vw;
  border-radius: 10px;
  z-index: 20;
  margin-left: 6px;
}
.Project__Intro{
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  box-sizing: border-box;
  padding: 40px 20px 80px;
  margin: 0 auto;
}
.Project__SubHeadline{
  max-width: calc(60% - 20px);
  flex-grow: 3;
}
.Project__Services{
  max-width: calc(30% - 20px);
  flex-grow: 1;
  list-style: none;
  margin-top: 42px;
}
.Project__Services span{
  margin-bottom: 30px;
  letter-spacing: 3px;
  font-family: $sans;
}
.Project__Services ul {
  list-style: none;
  padding: 0;
}
.Project__Service{
  padding: 8px 0;
  margin: 0;
  font-size: 14px;
  font-family: $sans;
  color: $grey;
}
.Project__MocksDesktop{
  background: $offwhite;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Project__MocksMobile{
  background: $offwhite;
  width: 100%;
  min-height: 100px;
  padding: 0 20px;
  box-sizing: border-box;
}
.MockMobile__Container{
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 120px 0;
}
.MockMobile{
  min-width: 335px;
  max-height: 597px;
  /*
  border: 1vw solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 3em;
  */
  box-sizing: content-box;
  border-radius: 0.25em;
  overflow: hidden;
  padding: 20px;
}
.MockMobile img {
  height: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}
.Project__WriteUp{
  margin: 120px auto;
  max-width: 740px;
}
.Project__WriteUpText{
  margin-left: 52px;
}
.Project__Testimonial{
  display: none;
  font-size: 28px;
  line-height: 1.6;
  margin-bottom: 16px;
}
.Project__Testimonial::before{
  content: url("assets/shapes/quote_small.svg");
  position: absolute;
  margin-top: -16px;
  margin-left: -36px;
}

.Project__Testimonial::after{
  content: ("\"");
}
.Project__TestimonialAttrib{
  font-family: $sans;
  color: $grey;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}
.Project__TestimonialAttrib::before{
  content: ("- ");
}
