.Service{
  width: calc(33% - 40px);
  background: $offwhite;
  align-items: center;
  margin: 20px;
  box-sizing: border-box;
  text-align: center;
}
.Service__Icon{
  width: 64px;
  height: 64px;
}
.Service__Label{
  font-family: $sans;
}
