.Services{
  margin: 60px auto 90px;
  padding: 20px;
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.Services__HeadlineContainer{
  width: 100%;
  max-width: 688px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}
.Services__Headline{
}
