.Work{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: $container;
  margin: 0px auto 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 11;
  position: relative;
}
.Grid__Top{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Grid__Tile{
  width: 100%;
  padding: 0;
  margin: 0 20px 3vw;
  overflow: hidden;
  display: flex;
}
.Grid__Tile img {
  width: 100%;
}

// hover 

.hover {
  opacity: 0;
  background: $blue;
  color: $white;
  font-family: $sans;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  position: absolute;
  padding: 18px;
  margin: 0 30px 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.25);
}
.hover span::before {
  content: "View Project";
  text-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.Grid__Tile:hover .hover {
  opacity: 1;
  transition: 0.05s;
}
.hover:hover {
  background: linear-gradient(190deg, #219653 -2.54%, #FFCD34 69.33%);
  transition: 0.1s;
}


// KEEP FOR GRID
.Grid__Bottom--Left{
  width: calc(40% - 40px);
  display: flex;
  flex-direction: column;
}
.Grid__Bottom--Right{
  width: calc(60% - 40px);
  display: flex;
}
.Grid__Tile--1{
  margin: 20px;
  height: 377px;
  background: blue;
  width: calc(66.5% - 40px);
}
.Grid__Tile--2{
  margin: 20px;
  height: 377px;
  width: calc(33.5% - 40px);
  background: red;
}
.Grid__Tile--3{
  margin: 20px;
  background: green;
  width: calc(40% - 40px);
  height: 216px;
}
.Grid__Tile--4{
  margin: 20px;
  background: purple;
  width: 100%;
  height: 611px;
}
.Grid__Tile--5{
  margin: 20px;
  background: purple;
  height: 872px;
  width: 100%;
}
