.Header{
  margin: 0 auto;
  width: 100%;
  max-width: 1330px;
  height: 80vh;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.Home__hero{
  padding: 20px;
  width: 100%;
}
.Home__heroHeadline{
  margin: 0 0 30px;
}
.Home__heroText{
  font-size: 22px;
  line-height: 1.55;
  color: $text;
}
