.Home{
  width: 100%;
  margin: 0 auto;
}
.Home__Services{
  width: 100%;
  padding: 30px 0;
  background: $orange;
}
.Home__Projects{
  width: 100%;
  padding: 30px 0;
}
.Home__ProjectsGrid{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1330px;
}
.ProjectTile{
  width: calc(50% - 80px);
  text-align: left;
  margin: 40px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
.ProjectTile__imgLink{
  width: 100%;
}
.ProjectTile__img{
  width: 100%;
  object-fit: cover;
}
.ProjectTile__title{
  width: 100%;
}
.ProjectTile__tag{
  width: 100%;
  margin: 0;
}
