@font-face {
  font-family: 'Lato';
  src: url("./assets/fonts/Lato/Lato-Regular.ttf"); }

@font-face {
  font-family: 'Lato-Light';
  src: url("./assets/fonts/Lato/Lato-Light.ttf"); }

@font-face {
  font-family: 'Arbutus';
  src: url("./assets/fonts/Arbutus_Slab/ArbutusSlab-Regular.ttf"); }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-family: "Arbutus", serif;
  font-size: 54px;
  text-rendering: optimizeLegibility;
  color: #000021; }

@media screen and (max-width: 640px) {
  h1 {
    font-size: 44px; } }

h2 {
  font-family: "Arbutus", serif;
  color: #000021;
  font-size: 30px;
  line-height: 1.6;
  text-rendering: optimizeLegibility; }

h3 {
  font-family: "Arbutus", serif;
  color: #000021;
  text-rendering: optimizeLegibility; }

h4 {
  font-family: "Arbutus", serif;
  color: #000021;
  text-rendering: optimizeLegibility; }

h5 {
  font-family: "Arbutus", serif; }

h6 {
  font-family: "Arbutus", serif; }

p {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  font-size: 20px;
  color: #615F70; }

.App {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

a {
  text-transform: none;
  text-decoration: none;
  color: inherit; }

a:active, a:focus {
  outline: none; }

textarea, select, input, button {
  outline: none;
  border: 0; }

ul {
  margin: 0;
  padding: 0; }

.Button__Work--outline {
  padding: 0.75em 1.5em;
  font-family: "Lato", sans-serif;
  background: #6788FF;
  color: #ffffff;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0px 1px rgba(0, 0, 33, 0.25);
  border-radius: 0.25em; }

.Contact__submit {
  margin: 0 20px;
  margin-top: 20px;
  padding: 0.75em 1.5em;
  font-family: "Lato", sans-serif;
  background: #6788FF;
  color: #ffffff;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0px 1px rgba(0, 0, 33, 0.25);
  border-radius: 0.25em;
  outline: 0;
  border: 0; }

button.Contact__submit:hover {
  cursor: pointer;
  transition: 0.1s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  opacity: 0.9;
  /*
  background-image: linear-gradient(190deg, #219653 0%, #FFCD34 75.33%); 
  */ }

.Contact {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  z-index: 11;
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  align-items: center; }

.Contact__SectionHeader {
  width: 100%;
  padding-top: 20px;
  box-sizing: border-box; }

@media screen and (max-width: 800px) {
  .you,
  .type,
  .budget,
  .tell {
    background: #ffffff; } }

.how input,
.type input,
.budget input {
  display: none; }

.how {
  color: white;
  overflow: hidden;
  width: 100%;
  max-width: 1024px;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 60px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; }

.how__input--selected,
.how__input--notselected {
  flex-grow: 1;
  min-width: 200px;
  max-width: 309px;
  width: 100%;
  padding: 16px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-right: 16px; }

.how__input--selected {
  color: #6788FF; }

.how__input--notselected::before {
  content: '';
  padding-left: 20px;
  border: 2px solid #ffffff;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 100%; }

.how__input--selected::before {
  content: '';
  padding-left: 20px;
  border: 2px solid #6788FF;
  background: #6788FF;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 100%; }

.how__input--selected:hover label,
.how__input--notselected:hover label {
  cursor: pointer;
  color: #6788FF;
  opacity: 0.9;
  transition: 0.1s; }

.how__input--notselected:hover::before {
  border: 2px solid #6788FF;
  transition: 0.1s;
  /*
  this should allow click to change input
  */ }

.you {
  margin: 0;
  margin-top: 14.5vw;
  width: 100%;
  max-width: 1024px;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box; }

.you__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 3vmin; }

.you__input--notselected {
  width: 100%;
  margin: 20px 0;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 0;
  padding: 20px 0;
  border-bottom: 2px solid rgba(0, 0, 33, 0.15);
  background: 0; }

.you__input--notselected:focus,
.you__input--selected:focus {
  width: 100%;
  margin: 20px 0;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 0;
  padding: 20px 0;
  border-bottom: 2px solid #6788FF;
  background: 0; }

.you__input--selected {
  width: 100%;
  margin: 20px 0;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 0;
  padding: 20px 0;
  background: 0;
  border-bottom: 2px solid rgba(0, 0, 33, 0.15); }

.you__input--notselected:hover,
.you__input--selected:hover {
  opacity: 0.8; }

.type,
.budget {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 60px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  overflow: hidden; }

/*
.type__form, 
.budget__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-gap: 3vmin;
  border: 1px solid red;
  width: 100%;
}
*/
.type__form,
.budget__form {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.type label,
.budget label {
  width: 100%;
  flex-grow: 1;
  padding: 20px 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
  text-align: center;
  border: 2px solid rgba(0, 0, 33, 0.15);
  border-radius: 2em;
  cursor: pointer;
  margin: auto; }

.type__input--selected,
.type__input--notselected,
.budget__input--selected,
.budget__input--notselected {
  flex-grow: 1;
  margin: 8px 0;
  min-width: 236px;
  max-width: 236px;
  display: flex; }

.type__input--selected:hover label,
.budget__input--selected:hover label,
.type__input--notselected:hover label,
.budget__input--notselected:hover label {
  border: 2px solid #6788FF;
  opacity: 0.65;
  transition: 0.1s; }

.type__input--selected label,
.budget__input--selected label {
  border: 2px solid #6788FF;
  color: #6788FF; }

.tell {
  width: 100%;
  max-width: 1024px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-self: center;
  box-sizing: border-box;
  padding: 0 20px; }

.tell__form {
  display: flex;
  width: 100%;
  max-width: 1024px;
  box-sizing: border-box; }

.tell__form textarea {
  width: 100%;
  min-height: 160px;
  border-radius: 0.25em;
  border: 2px solid rgba(0, 0, 33, 0.15);
  font-family: "Lato", sans-serif;
  color: #000021;
  font-size: 18px;
  padding: 12px; }

.Features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1024px;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 11;
  position: relative;
  align-self: center; }

.Features__Tile--left,
.Features__Tile--right {
  margin: 60px 0;
  flex-grow: 1;
  max-width: calc(50% - 20px);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box; }

.Features__Tile--right {
  margin-top: 120px; }

.Features__ImageContainer {
  display: flex;
  width: 100%;
  flex-grow: 1;
  box-sizing: content-box; }

.Features__Image {
  width: 100%;
  padding-bottom: 123%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.25em; }

.Features__Title {
  margin: 36px 0 28px;
  font-size: 30px; }

.Features__link span {
  font-family: "Lato", sans-serif;
  color: #000021;
  padding-bottom: 16px; }

.Features__link:hover span {
  border-bottom: 1px solid #000021;
  transition: 0.1s; }

.Features__link span::before {
  content: "Featured Project: "; }

.Features__link::before {
  content: url(./assets/shapes/triangle.svg);
  height: 24px;
  width: 24px;
  margin-right: 20px; }

.WorkLink {
  width: 100%;
  margin: 60px auto 80px;
  text-align: center; }

@media screen and (max-width: 800px) {
  .Features {
    background: #ffffff;
    margin-top: 40px;
    justify-content: center; }
  .Features__Tile--left,
  .Features__Tile--right {
    margin: 10px;
    padding: 0;
    width: 100%;
    max-width: 800px;
    flex-wrap: nowrap;
    justify-content: center; }
  .Features__ImageContainer {
    max-width: 180px;
    display: none; }
  .Features__Info {
    text-align: center;
    margin: 40px; } }

.Footer, .Footer--hide {
  padding: 0px 0 0;
  margin-top: 80px;
  width: 100%;
  box-sizing: border-box;
  align-self: flex-end;
  display: flex;
  flex-direction: column; }

.Footer__Content {
  width: 100%;
  background: #000021;
  padding: 80px 20px 80px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center; }

.Footer__Container {
  width: 100%;
  margin: 0;
  padding: 20px;
  max-width: 1024px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: center; }

.Footer .LogoText {
  padding-bottom: 20px; }

.Footer__Reserved {
  color: #ffffff; }

.Footer__links {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1; }

.Footer__cta {
  text-align: center;
  background: #ffffff;
  position: relative;
  margin: 0 0 0px 0px;
  padding: 0 20px 100px 20px; }

.Footer--hide .Footer__cta {
  display: none; }

.Footer__ctaHeadline {
  color: #000021; }

.Footer__ctaHeadline span {
  color: #6788FF;
  border-bottom: 2px solid #6788FF; }

.Footer__ctaHeadline span:hover {
  /*
  background-image: linear-gradient(190deg, #219653 -2.54%, #FFCD34 69.33%);
  color: transparent; 
  background-clip: text;
  border: 0;
  */
  transition: 0.1s;
  opacity: 0.7;
  color: #219653;
  border-bottom: 2px solid #219653; }

.FooterNav {
  background: #F8F8FF;
  display: flex;
  align-items: flex-end;
  padding-top: 30px; }

.FooterNav__Left {
  width: 50%;
  padding-top: 148px;
  background: #6788FF;
  object-fit: cover; }

.FooterNav__Right {
  width: 50%;
  padding-top: 192px;
  background: #6788FF;
  object-fit: cover; }

.Header {
  height: 48vw;
  min-height: 760px;
  width: 100%;
  background: #000021;
  display: flex;
  position: absolute;
  z-index: 0;
  transform: skewY(-4.2deg);
  overflow: hidden;
  position: absolute;
  margin-top: -100px; }

@media screen and (max-width: 700px) {
  .Header {
    min-height: 1100px; } }

.Home {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  z-index: 11;
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center; }

.MockDesktop__Container {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  max-width: 1800px; }

.MockDesktop {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 45vw;
  max-width: 860px;
  margin: 20px;
  border-radius: 0.25em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.MockDesktop__image {
  width: 100%;
  max-width: 860px;
  padding-bottom: 56.25%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; }

.MockMobile__Container {
  width: 100%;
  max-width: 1330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 120px 0;
  align-self: center; }

.MockMobile {
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  flex-grow: 1;
  min-width: 240px;
  max-width: 380px;
  box-sizing: content-box;
  border-radius: 0.25em;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.MockMobile__image {
  padding-bottom: 178.21%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; }

.Nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  max-width: 1330px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  z-index: 10;
  overflow: hidden; }

.Nav__logo {
  width: 40vw;
  min-width: 100px;
  max-width: 240px;
  display: inline;
  margin: auto 0; }

.LogoText {
  margin-top: 4px;
  display: flex; }

.LogoText:hover {
  opacity: 0.9; }

.Nav__link {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  display: inline;
  margin: auto 0 auto 6vw; }

.Nav__link:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid #ffffff;
  transition: 0.1s; }

.Page {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: relative;
  width: 100%;
  align-content: center;
  align-items: center; }

.Page__headline {
  color: #ffffff;
  width: 100%;
  max-width: 1024px;
  align-self: center;
  padding: 0 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
  box-sizing: border-box; }

.Page__headline span {
  background: -webkit-gradient(linear top left, left bottom, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(190deg, #219653 -2.54%, #FFCD34 69.33%);
  background: -moz-linear-gradient(190deg, #219653 -2.54%, #FFCD34 69.33%);
  background: -ms-linear-gradient(190deg, #219653 -2.54%, #FFCD34 69.33%);
  background: -o-linear-gradient(190deg, #219653 -2.54%, #FFCD34 69.33%);
  color: transparent;
  background-clip: text; }

.Page__subheadline {
  color: #ffffff;
  font-size: 22px;
  font-family: "Lato", sans-serif;
  width: 100%;
  max-width: 1024px;
  line-height: 1.8;
  margin: 0px 0 30px;
  box-sizing: border-box;
  padding: 0 20px;
  align-self: center; }

.Sidetext {
  color: #ffffff;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  margin-left: -6vw;
  margin-top: 480px;
  position: absolute; }

.Project {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }

.Project__Feature {
  max-width: 1024px;
  width: 100%;
  align-self: center;
  overflow: hidden;
  border-radius: 2px;
  margin: 0 0 40px 0;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }

.Project__Feature img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: inline;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.Feature__Bar {
  height: 1vw;
  width: 100%;
  background: #c4c4c4;
  box-sizing: border-box;
  overflow: hidden;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  z-index: 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box; }

.r {
  background-color: #ED212B;
  height: 0.65vw;
  width: 0.65vw;
  border-radius: 10px;
  z-index: 20;
  margin-left: 6px; }

.y {
  background-color: #FFCD34;
  height: 0.65vw;
  width: 0.65vw;
  border-radius: 10px;
  z-index: 20;
  margin-left: 6px; }

.g {
  background-color: #219653;
  height: 0.65vw;
  width: 0.65vw;
  border-radius: 10px;
  z-index: 20;
  margin-left: 6px; }

.Project__IntroContainer {
  width: 100%;
  background: #ffffff;
  margin: 0;
  box-sizing: border-box;
  display: flex; }

.Project__Intro {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  max-width: 1024px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 40px auto 120px; }

.Project__SubHeadline {
  max-width: 700px;
  flex-grow: 3; }

.Project__Services {
  max-width: 240px;
  list-style: none;
  margin-top: 42px; }

.Project__Services span {
  margin-bottom: 30px;
  letter-spacing: 3px;
  font-family: "Lato", sans-serif; }

.Project__Services ul {
  list-style: none;
  padding: 0; }

.Project__Service {
  padding: 8px 0;
  margin: 0;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #615F70; }

.Project__MocksDesktop {
  background: #F8F8FF;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  justify-content: center; }

.Project__MocksMobile {
  background: #F8F8FF;
  width: 100%;
  min-height: 100px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center; }

.Project__WriteUp {
  margin: 120px auto;
  max-width: 740px; }

.Project__WriteUpText {
  margin-left: 52px; }

@media screen and (max-width: 800px) {
  .Project__WriteUpText {
    margin: 0 0 0 0;
    padding: 20px; } }

.Project__Testimonial {
  font-size: 28px;
  line-height: 1.6;
  margin-bottom: 16px;
  /* temp */
  display: none; }

.Project__Testimonial::before {
  content: url("assets/shapes/quote_small.svg");
  position: absolute;
  margin-top: -16px;
  margin-left: -36px; }

.Project__Testimonial::after {
  content: '"';
  /* temp */
  display: none; }

.Project__TestimonialAttrib {
  font-family: "Lato", sans-serif;
  color: #615F70;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px; }

.Project__TestimonialAttrib::before {
  content: "- ";
  /* temp */
  display: none; }

.Services {
  margin: 20px 0 60px;
  padding: 20px;
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: space-around; }

.Services__HeadlineContainer {
  width: 100%;
  max-width: 688px;
  margin: 0 auto;
  padding: 2vw 0;
  text-align: center; }

.Service {
  flex: 1;
  min-width: 240px;
  max-width: 260px;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center; }

.Service__Icon {
  width: 64px;
  max-height: 64px;
  align-self: center;
  object-fit: contain; }

.Service__Label {
  font-family: "Lato", sans-serif;
  width: 100%;
  color: #000021;
  font-size: 20px; }

@media screen and (max-width: 860px) {
  .Service {
    flex-wrap: nowrap;
    align-items: center; }
  .Service__Label {
    text-align: left;
    margin-left: 12px; } }

.Testimonials {
  background: #F8F8FF;
  width: 100%;
  margin: 60px 0 0; }

.Testimonials__Container {
  max-width: 688px;
  margin: 0 auto;
  padding: 80px 20px;
  box-sizing: border-box; }

.Testimonials__Quote {
  font-size: 24px;
  line-height: 1.6;
  color: #000021; }

.Testimonials__Container span::before {
  content: url("./assets/shapes/quote.svg");
  position: absolute;
  margin-left: -130px;
  margin-bottom: -40px; }

.Testimonials__Quote::after {
  content: '"'; }

.Testimonials__Attribution {
  color: #615F70;
  padding: 20px 0; }

.Work {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1024px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 11;
  position: relative;
  align-self: center; }

.Grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.Grid__Tile {
  width: 100%;
  padding: 0;
  margin: 0 20px 3vw;
  overflow: hidden;
  display: flex;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.Grid__Tile img {
  width: 100%;
  height: 100%; }

.hover {
  opacity: 0;
  background: #6788FF;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  position: absolute;
  padding: 16px 18px;
  margin: 0 30px 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  font-size: 13px; }

.hover span::before {
  content: "View Project";
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }

.Grid__Tile:hover .hover {
  opacity: 1;
  transition: 0.05s; }

.hover:hover {
  background: linear-gradient(190deg, #219653 -2.54%, #FFCD34 69.33%);
  transition: 0.1s; }

@media screen and (max-width: 700px) {
  .hover {
    display: none; } }
