.Header {
  width: 100%;
  height: 95vh;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  justify-content: center; }

.Header__headline {
  align-self: baseline;
  padding: 20px;
  border: 1px solid red; }
