@import '../styles/colors.scss';

.NavBar {
  width: 100%;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NavBar__logo{
  max-width: 200px;
}
.NavBar__linksContainer{

}
.NavBar__links {
  padding: 20px;
  color: $blue;
}
